name: "karakeep"

services:

####################
# Karakeep
####################

  karakeep:
    image: ghcr.io/karakeep-app/karakeep:${KARAKEEP_VERSION:-release}
    container_name: karakeep

    ports:
      - ${PORT_KARAKEEP}:3000

    environment:
      TZ: ${TZ}
      DATA_DIR: /data # DON'T CHANGE THIS. The path for the persistent data directory. This is where the db lives. Assets are stored here by default unless ASSETS_DIR is set.
      ASSETS_DIR: /data-assets #The path where crawled assets will be stored. If not set, defaults to ${DATA_DIR}/assets.
      LOG_LEVEL: warning

      MAX_ASSET_SIZE_MB: 20 # Sets the maximum allowed asset size (in MB) to be uploaded. Default 50mb
      DB_WAL_MODE: true # Enables WAL mode for the sqlite database. This should improve the performance of the database. There's no reason why you shouldn't set this to true unless you're running the db on a network attached drive. This will become the default at some time in the future.
      
      # Auth
      DISABLE_SIGNUPS: true
      DISABLE_PASSWORD_AUTH: false
      NEXTAUTH_SECRET: ${KARAKEEP_NEXTAUTH_SECRET}

      # Search
      MEILI_MASTER_KEY: ${MEILI_MASTER_KEY}
      MEILI_ADDR: http://karakeep-meilisearch:7700 #If not set, Search will be disabled.

      # Browser / Crawler
      BROWSER_WEB_URL: http://karakeep-chrome:${PORT_KARAKEEP_CHROME}
      CRAWLER_STORE_SCREENSHOT: false

      # Inference Configs
      OLLAMA_BASE_URL: http://ollama:${PORT_OLLAMA}
      OLLAMA_KEEP_ALIVE: 3m # Controls how long the model will stay loaded into memory following the request (example value: "5m").
      INFERENCE_TEXT_MODEL: llama3.1 # change this from default if you're using ollama.
      INFERENCE_IMAGE_MODEL: llava-llama3 # change this from default if you're using ollama and that model needs to support vision APIs (e.g. llava).
        # EMBEDDING_TEXT_MODEL #  model to be used for generating embeddings for the text
      INFERENCE_CONTEXT_LENGTH: 2000 # max number of tokens that we'll pass to the inference model. If your content is larger than this size, it'll be truncated to fit. The larger this value, the more of the content will be used in tag inference, but the more expensive the inference will be (money-wise on openAI and resource-wise on ollama). Check the model you're using for its max supported content size.
        # INFERENCE_MAX_OUTPUT_TOKENS # maximum number of tokens that the inference model is allowed to generate in its response. This controls the length of AI-generated content like tags and summaries. Increase this if you need longer responses, but be aware that higher values will increase costs (for OpenAI) and processing time.
      INFERENCE_LANG: english
      INFERENCE_JOB_TIMEOUT_SEC: 90
      INFERENCE_ENABLE_AUTO_TAGGING: true
      INFERENCE_ENABLE_AUTO_SUMMARIZATION: false 

    labels:
      - homepage.group=Karakeep
      - homepage.name=Karakeep
      - homepage.href=http://${SERVER_URL}:${PORT_KARAKEEP}
      - homepage.icon=karakeep
      - homepage.widget.type=karakeep
      - homepage.widget.url=http://${SERVER_URL}:${PORT_KARAKEEP}
      - homepage.widget.key=${KARAKEEP_APIKEY}


    volumes:
      - ${DIR_DB}/karakeep:/data #The path for the persistent data directory. This is where the db lives. Assets are stored here by default unless ASSETS_DIR is set.
      - ${DIR_DOCUMENT}/karakeep:/data-assets

    #deploy:
    #  resources:
    #    limits:
    #      cpus: '1'
    #      memory: 128M
    restart: unless-stopped

  karakeep-chrome:
    image: ghcr.io/zenika/alpine-chrome:124
    container_name: karakeep-chrome

    command:
      - --no-sandbox
      - --disable-gpu
      - --disable-dev-shm-usage
      - --remote-debugging-address=0.0.0.0
      - --remote-debugging-port=${PORT_KARAKEEP_CHROME}
      - --hide-scrollbars

    labels:
      - homepage.group=Karakeep
      - homepage.name=Chrome
      - homepage.icon=chrome

    restart: unless-stopped

  karakeep-meilisearch:
    image: getmeili/meilisearch:v1.27
    container_name: karakeep-meilisearch

    environment:
      MEILI_MASTER_KEY: ${MEILI_MASTER_KEY}
      MEILI_NO_ANALYTICS: true

    labels:
      - homepage.group=Karakeep
      - homepage.name=Meilisearch
      - homepage.description=A search engine featuring a blazing fast RESTful search API
      - homepage.icon=meilisearch
    
    volumes:
      - ${CONFIGDIR}/meilisearch:/meili_data #data includes your indexes and the documents they store
    
    restart: unless-stopped
    
  ollama:
    image: ollama/ollama
    container_name: ollama

    ports:
      - ${PORT_OLLAMA}:11434

    labels:
      - homepage.group=Karakeep
      - homepage.name=Ollama
      - homepage.icon=ollama
 
    volumes:
      - ${DIR_AI}/ollama:/root/.ollama

    restart: unless-stopped
