name: "security"

services:

####################
# Security
####################

  # crowdsec:
  #   container_name: crowdsec
  #   image: crowdsecurity/crowdsec:v1.6.5
    
  #   networks:
  #     - caddy-net # provides access for the reverse proxy
  #     - socky_proxy-net

  #   ports:
  #     - ${PORT_CROWDSEC_API}:8080 # exposes a REST API for bouncers, cscli and communication between crowdsec agent and local api
  #     - ${PORT_CROWDSEC_METRICS}:6060 #exposes prometheus metrics on /metrics and pprof debugging metrics on /debug

  #   environment:
  #     TZ: ${TZ}
  #     GID: ${PGID}
  #     COLLECTIONS: "crowdsecurity/linux crowdsecurity/caddy crowdsecurity/linux-lpe timokoessler/uptime-kuma LePresidente/jellyseerr crowdsecurity/pgsql crowdsecurity/endlessh schiz0phr3ne/sonarr schiz0phr3ne/radarr schiz0phr3ne/prowlarr"
  #     DOCKER_HOST: tcp://socky_proxy:${PORT_SOCKY_PROXY} # redirects socket to the proxy. Needed for the config.yaml direction to scan other docker containers

  #   volumes:
  #     - ./staticconfig/crowdsec/acquis.yaml:/etc/crowdsec/acquis.yaml:ro
  #     - crowdsec-config:/etc/crowdsec/
  #     - crowdsec-db:/var/lib/crowdsec/data/
  #   #  - ${CONFIGDIR}/crowdsec:/etc/crowdsec/ # This is my preferred way to get things working, but currently doesn't work

  #     ## Log Files
  #     - /var/log/auth.log:/logs/auth.log:ro
  #     - /var/log/syslog.log:/logs/syslog.log:ro
      
  #   labels:
  #     - diun.enable=true
  #     - homepage.group=Wild West
  #     - homepage.name=Crowdsec
  #     - homepage.icon=crowdsec
  #     - homepage.href=https://app.crowdsec.net/login?next=/instances
  #     - homepage.description=Crowd-sourced Intrusion Prevention
  #     - homepage.weight=200


  #   healthcheck:
  #     test: ["CMD", "cscli", "version"]

  #   deploy:
  #     resources:
  #       limits:
  #         cpus: '1'
  #         memory: 128M
  #   restart: always

  endlessh:
    image: ghcr.io/shizunge/endlessh-go:latest
    container_name: endlessh

    ports:
      - ${PORT_SSHPROTECT:-22}:2222
    
    environment:
      TZ: ${TZ}

    command:
      - -geoip_supplier=${ESSH_GEOIP} #Supplier to obtain Geohash of IPs. Possible values are "off", "ip-api", "max-mind-db" (default "off")
      - -interval_ms=${ESSH_MSDELAY:-1000} # Message millisecond delay (default 1000)
      - -max_clients=${ESSH_MAXCLIENTS:-4096} # Maximum number of clients (default 4096)
      - -logtostderr  # log to standard error instead of files
      - -v=1 # log level for V logs
      #- -enable_prometheus

    labels:
      - diun.enable=true
      - homepage.group=Wild West
      - homepage.name=EndlessH
      - homepage.icon=endless-light
      - homepage.description=SSH Tarpit
      - homepage.weight=900

    deploy:
      resources:
        limits:
          cpus: '1'
          memory: 32M  
    restart: unless-stopped


volumes:
  crowdsec-config:
    external: true
  crowdsec-db:
    external: true


networks:
  caddy-net:
    name: caddy-net
    external: true
  
  socky_proxy-net:
    name: socky_proxy-net
    external: true