####################
# Common
####################

PUID=
PGID=
TZ=

SERVER_URL= #server's IP Address on your LAN. For local access.

DOCKERDIR=/opt/docker/homelab-docker/dockerfiles # docker build files
STATICCONFIGDIR=/opt/docker/homelab-docker/staticconfig 
CONFIGDIR=/srv/docker-config
CACHEDIR=/srv/cache

DATADIR=/data
DOWNLOADDIR=/data/downloads
MEDIADIR=/data/media
STATICDIR=/data/staticfiles
DBDIR=/data/db
LOGDIR=/srv/logs
BACKUPDIR=/home/user/backups

DEBUG_LOG=false
LOG_LEVEL=ERROR

####################
# Project
####################

COMPOSE_PROJECT_NAME=
COMPOSE_PROFILES=external,admin,network,monitor,media,media-request
COMPOSE_TIMEOUT=300

####################
# Disks
####################
SYS_DISK1=/dev/sda1
SYS_DISK2=


####################
# Ports
####################

PORT_CADDY_HTTP=
PORT_CADDY_HTTPS=
PORT_CHANGEDETECTION=
PORT_CROWDSEC_API=
PORT_CROWDSEC_METRICS=
PORT_DASH_HTTP= # eg. Heimdall, Flame
PORT_DOZZLE=
PORT_WEBDRIVER=
PORT_GHS_CLIENT=
PORT_GHS_SERVER=
PORT_HTPC_HTTP= # eg. Emby, Jellyfin, Plex
PORT_HTPC_HTTPS= # eg. Emby, Jellyfin, Plex
PORT_HTPC_LOCAL= # eg. Emby, Jellyfin, Plex
PORT_HTPC_DLNA= # eg. Emby, Jellyfin, Plex
PORT_HTPC_REQUESTS= #Port for something like Jellyseer, Ombi, etc
PORT_PAPERLESS=
PORT_PIHOLE_WEB= # usually 80
PORT_PIHOLE_WEBSSL= # usually 443
PORT_PIHOLE_DHCP= # usually 67
PORT_PIHOLE_TCP= # usually 53
PORT_PIHOLE_UDP= # usually 53
PORT_PINRY=
PORT_PODGRAB=
PORT_RALLLY=
PORT_RALLLY_DB=
PORT_RIPPING= #for web access to ARM. Required for initial setup
PORT_SOCKY_PROXY= 
PORT_SCRUTINY=
PORT_SCRUTINY_DB= # influxDB admin
PORT_SPEEDTEST= 
PORT_SSHPROTECT= # usually 22
PORT_TANDOOR= 
PORT_UPKUMA= # Uptime Kuma
PORT_WIREGUARD_OUTBOUND= # not for your VPN server, but connecting other services to an external VPN

#Ports - P2P
PORT_TORRENT_UI=
PORT_TORRENT_TCP=
PORT_TORRENT_UDP=
PORT_PROWLARR_UI=
PORT_LIDARR_UI=
PORT_RADARR_UI=
PORT_SONARR_UI=


EXTERNAL_GHS= #should match the subdomain in your Caddyfile
EXTERNAL_PINRY= #should match the subdomain in your Caddyfile
EXTERNAL_RALLLY= #should match the subdomain in your Caddyfile
EXTERNAL_TANDOOR= #should match the subdomain in your Caddyfile


####################
# Service Specific
####################

# Automatic Ripping Machine
RIPPING_UID=
RIPPING_GID=
RIPPING_HOME=/home/ripper

# Caddy
DOMAIN=
EMAIL_ADMIN=
BOUNCER_CADDY_TOKEN=

# Diun
DIUN_NOTIF_DISCORD_WEBHOOKURL=

# DuckDNS
DUCKDNS_SUBDOMAINLIST=
DUCKDNS_TOKEN=

# EndleSSH
ESSH_MSDELAY= #The endless banner is sent one line at a time. This is the delay in milliseconds between individual lines.
ESSH_MAXLINES= #The length of each line is randomized. This controls the maximum length of each line. Shorter lines may keep clients on for longer if they give up after a certain number of bytes.
ESSH_MAXCLIENTS= #Maximum number of connections to accept at a time. Connections beyond this are not immediately rejected, but will wait in the queue.
ESSH_BINDFAMILY= #Set it to 4 or 6 to bind to IPv4 only or IPv6 only, respectively. Leave blank to bind to both.

# Homepage
HOMEPAGE_CHANGEDETECTION_API=
HOMEPAGE_JELLYFIN_API=
HOMEPAGE_JELLYSEERR_API=
HOMEPAGE_QBITTORENT_USERNAME=
HOMEPAGE_QBITTORENT_PASSWORD=
HOMEPAGE_PAPERLESS_USERNAME=
HOMEPAGE_PAPERLESS_PASSWORD=
HOMEPAGE_PIHOLE_API=
HOMEPAGE_PROWLARR_API=
HOMEPAGE_RADARR_API=
HOMEPAGE_SONARR_API=

#  Jellyfin
GID_HARDWAREACC=

# Paperless
PAPERLESS_SECRETKEY=
PAPERLESS_DB_USER=paperless_app
PAPERLESS_DB_PASSWORD=
PAPERLESS_DB_NAME=paperless_db

PAPERLESS_CONSUMEDIR= # this is where scans can be uploaded and monitored

# Pihole
PIHOLE_PASSWORD= #http://pi.hole/admin password. Random if unset; run `docker logs pihole | grep random` to find your random pass.
FTLCONF_LOCAL_IPV4= #Set to your server's LAN IP, used by web block modes and lighttpd bind address.
PIHOLE_DHCP_ACTIVE=false #Enable DHCP server. Static DHCP leases can be configured with a custom /etc/dnsmasq.d/04-pihole-static-dhcp.conf
PIHOLE_DOMAIN=

# Pihole - User Interface
PIHOLE_TEMPUNIT=c #<c|k|f>
PIHOLE_WEBTHEME=default-darker

# Pinry
PINRY_SECRETKEY=

# Rallly
RALLLY_SECRETKEY=
RALLLY_DB_USER=rallly_app
RALLLY_DB_PASSWORD=
RALLLY_DB_NAME=rallly_db
RALLLY_SUPPORTEMAIL=
RALLLY_SMTP_HOST=
RALLLY_SMTP_PORT=
RALLLY_SMTP_SECURE=
RALLLY_SMTP_USER= # for mailjet, your API Key
RALLLY_SMTP_PASSWORD= # for mailjet, your Secret Key
