name: "adblock-and-dns"

services:

####################
# Adblocking and DNS Resolution
####################


  pihole:
  # More info at https://github.com/pi-hole/docker-pi-hole/ and https://docs.pi-hole.net/
  # My savior for fixing pihole issues: https://github.com/kaczmar2/pihole-unbound/tree/main
    container_name: pihole
    hostname: pihole
    image: ghcr.io/pi-hole/pihole:2025.11.1

    # For DHCP it is recommended to remove these ports and instead add: network_mode: "host"
    ports:
      - ${PORT_PIHOLE_WEB:-80}:80
      - ${PORT_PIHOLE_WEBSSL:-443}:443
      - ${PORT_PIHOLE_TCP:-53}:53/tcp
      - ${SERVER_URL}:${PORT_PIHOLE_UDP:-53}:53/udp
    #  - ${PORT_PIHOLE_DHCP:-67}:67/udp # Only required if you are using Pi-hole as your DHCP server

    environment:
      PIHOLE_UID: ${PUID}
      PIHOLE_GID: ${PGID}
      TZ: ${TZ}

      FTLCONF_dhcp_active: ${PIHOLE_DHCP_ACTIVE:-false}
      FTLCONF_dns_listeningMode: 'all'
      FTLCONF_dns_upstreams: '127.0.0.1#${PORT_DNS_RESOLVER}' # Port is also hardcoded in ${CONFIGDIR}/pihole-unbound/unbound/unbound.conf.d/10-pi-hole.conf
      FTLCONF_dns_domain_name: ${PIHOLE_DOMAIN:-lan}
      #FTLCONF_webserver_api_pwhash:

      # Don't use pihole as a NTP Server
      FTLCONF_ntp_ipv4_active: ${PIHOLE_NTP_IPV4_ACTIVE:-true}
      FTLCONF_ntp_ipv6_active: ${PIHOLE_NTP_IPV6_ACTIVE:-true}
      FTLCONF_ntp_sync_active: ${PIHOLE_NTP_IPV6_ACTIVE:-true}

      FTLCONF_webserver_api_password: ${PIHOLE_PASSWORD}
      FTLCONF_webserver_interface_theme: ${PIHOLE_WEBTHEME:-default-dark}

    labels:
      - diun.enable=true
      - homepage.group=Network
      - homepage.name=Pihole
      - homepage.icon=pi-hole
      - homepage.href=http://${SERVER_URL}:${PORT_PIHOLE_WEB}/admin
      - homepage.weight=100
      - homepage.widget.type=pihole
      - homepage.widget.version=6
      - homepage.widget.url=http://${SERVER_URL}:${PORT_PIHOLE_WEB}
      - homepage.widget.key=${PIHOLE_PASSWORD}

    volumes:
      # For persisting Pi-hole's databases and common configuration file
      - ${CONFIGDIR}/pihole-unbound/pihole/etc-pihole:/etc/pihole

      # Uncomment the below if you have custom dnsmasq config files that you want to persist. Not needed for most starting fresh with Pi-hole v6. If you're upgrading from v5 you and have used this directory before, you should keep it enabled for the first v6 container start to allow for a complete migration. It can be removed afterwards. Needs environment variable FTLCONF_misc_etc_dnsmasq_d: 'true'
      #- ${CONFIGDIR}/pihole-unbound/pihole/etc-dnsmasq.d:/etc/dnsmasq.d

    cap_add:
      # See https://github.com/pi-hole/docker-pi-hole#note-on-capabilities

      # Required if you are using Pi-hole as your DHCP server, else not needed
      #- NET_ADMIN

      # Required if you are using Pi-hole as your NTP client to be able to set the host's system time
      #- SYS_TIME

      # Optional, if Pi-hole should get some more processing time
      - SYS_NICE

    deploy:
      resources:
        limits:
          memory: 256M
    healthcheck:
      test: ["CMD", "dig", "+norecurse", "+retry=0", "@127.0.0.1", "-p", "${PORT_DNS_RESOLVER}"]
    restart: unless-stopped

  nebula-sync:
    container_name: nebula-sync
    image: ghcr.io/lovelaze/nebula-sync:latest

    depends_on:
      pihole:
        condition: service_healthy

    environment:
      TZ: ${TZ}

      PRIMARY: http://${SERVER_URL}:${PORT_PIHOLE_WEB}|${PIHOLE_PASSWORD} # http://ph1.example.com|password
      REPLICAS: ${PIHOLE_REPLICAS}
      FULL_SYNC: true # see project help if you want specific settings only
      CRON: '0 1 */1 * *' # if no value, sync runs once then container shuts down
      CLIENT_RETRY_DELAY_SECONDS: 120
    
    labels:
      - diun.enable=true
      - homepage.group=Network
      - homepage.name=Nebula Sync
      - homepage.description=Keeps Pi-Holes in sync
      - homepage.weight=199

    deploy:
      resources:
        limits:
          memory: 256M
    restart: no

  unbound:
    container_name: unbound
    image: alpinelinux/unbound:latest

    network_mode: service:pihole

    post_start:
      # remove unused config files
      - command: rm -f /opt/unbound/etc/unbound/a-records.conf
      - command: rm -f /opt/unbound/etc/unbound/forward-records.conf
      - command: rm -f /opt/unbound/etc/unbound/srv-records.conf

    labels:
      - diun.enable=true
      - homepage.group=Network
      - homepage.name=Unbound
      - homepage.icon=pi-hole-unbound
      - homepage.weight=199

    volumes:
      # main config
      - ${CONFIGDIR}/pihole-unbound/unbound/unbound.conf:/etc/unbound/unbound.conf
      # custom config (unbound.conf.d/your-config.conf). unbound.conf includes these via wilcard include
      - ${CONFIGDIR}/pihole-unbound/unbound/unbound.conf.d:/etc/unbound/unbound.conf.d

    deploy:
      resources:
        limits:
          memory: 128M
    healthcheck:
      disable: true
    restart: unless-stopped
