{ # Global options block. Entirely optional, https is on by default
  email {$EMAIL} # Optional email key for lets encrypt
  #debug # this is optional; makes Caddy log more details

  admin 0.0.0.0:2019
      
}

############
# Snippets #
############
(headers) {
	header {
    -server #anonymizes Caddy

    # disable FLoC tracking
    Permissions-Policy interest-cohort=()

    # enable HSTS
    Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"

    # Docs | Content Security Policy https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Security-Policy
    # Docs | Referrer Policy https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Referrer-Policy

    X-Content-Type-Options "nosniff" # disable clients from sniffing the media type

    # clickjacking protection
    X-Frame-Options DENY

    header_up X-Real-IP {vars.realip}
	}
}

(main) {
  
  respond /robots.txt 200 {
    body "User-agent: *
    Disallow: /
    
    User-agent: AdsBot-Google
    Disallow: /

    User-agent: AdsBot-Google-Mobile
    Disallow: /"

    close
  }

  encode zstd gzip

  log {
    level ERROR
    output file {$LOG_FILE} {
      roll_size 3MiB
      roll_keep 5
      roll_keep_for 48h
    }
    format json
  }
}

############
# Routing  #
############

# import *.caddy ## try this while storing individual sites in *.caddy files

localhost {
  import main

  respond "Hello, world!"
}

{$DOMAIN} {
  import headers
  import main

  # SSL Cert via Duckdns build
  tls {
    dns duckdns {$DUCKDNS_API_TOKEN}
  }

  respond "Look at me"
  # System Status page
  reverse_proxy /status/* uptime-kuma:3001
}

www.{$DOMAIN} {
  redir {$DOMAIN}{uri}
}

ghs.{$DOMAIN} {
  import headers
  import main

  reverse_proxy gloomhaven:80
}

ghs-server.{$DOMAIN} {
  import headers
  import main

  reverse_proxy gloomhaven-server:8080

  @websockets {
    header Connection *Upgrade*
    header Upgrade websocket
    header Access-Control-Allow-Origin ghs.{$DOMAIN}
    header Access-Control-Allow-Origin gloomhaven-secretary.de
  }
  reverse_proxy @websockets gloomhaven-server:8080
}

jelly.{$DOMAIN} {
  import headers
  import main

  reverse_proxy jellyfin:8096
}

meet.{$DOMAIN} {
  import headers
  import main

  reverse_proxy rallly:3000
}

recipe.{$DOMAIN} {
  import headers
  import main

  handle_path /media/* {
			root * /www/tandoor
			file_server
		}

  reverse_proxy tandoor:8080
}

request.{$DOMAIN} {
  import headers
  import main

  reverse_proxy jellyseerr:5055
}

pin.{$DOMAIN} {
  import headers
  import main

  reverse_proxy pinry:80
}

status.{$DOMAIN} {
  import headers
  import main

  reverse_proxy uptime-kuma:3001
}
