{
  email {$EMAIL}
    # Global options block. Entirely optional, https is on by default
    # Optional email key for lets encrypt
}


# import *.caddy ## try this while storing individual sites in *.caddy files

localhost {
  
  respond "Hello, world!"
}

jelly.{$DOMAIN} {
  log {
    level ERROR
    output file {$LOG_FILE} {
      roll_size 3MiB
      roll_keep 5
      roll_keep_for 48h
    }
    format json
  }

  header {
    -server #anonymizes Caddy
    
    # disable FLoC tracking
    Permissions-Policy interest-cohort=()

    #enable HSTS
    #Strict-Transport-Security max-age=31536000;

    # disable clients from sniffing the media type
    #?X-Content-Type-Options nosniff

    # clickjacking protection
    ?X-Frame-Options DENY

    # keep referrer data off of HTTP connections
    ?Referrer-Policy no-referrer-when-downgrade
  }

  proxy / localhost:8096 {
    transparent
  }
}



{$DOMAIN} {
  log {
    level ERROR
    output file {$LOG_FILE} {
      roll_size 3MiB
      roll_keep 5
      roll_keep_for 48h
    }
    format json
  }

  header {
    -server #anonymizes Caddy
    
    # disable FLoC tracking
    Permissions-Policy interest-cohort=()

    #enable HSTS
    #Strict-Transport-Security max-age=31536000;

    # disable clients from sniffing the media type
    #?X-Content-Type-Options nosniff

    # clickjacking protection
    ?X-Frame-Options DENY

    # keep referrer data off of HTTP connections
    ?Referrer-Policy no-referrer-when-downgrade
  }
  
  encode zstd gzip

  # SSL Cert via Duckdns build
  tls {
    dns duckdns {$DUCKDNS_API_TOKEN}
  }


  # Jellyfin
  reverse_proxy /jelly/* 127.0.0.1:8096

  # System Status page
  reverse_proxy /status/* 0.0.0.0:3001/status/

  # The negotiation endpoint is also proxied to Rocket
  #reverse_proxy /notifications/hub/negotiate 0.0.0.0:8080

  # Notifications redirected to the websockets server
  #reverse_proxy /notifications/hub 0.0.0.0:3012

  # Send all other traffic to the regular bitwarden_rs endpoint
  #reverse_proxy 0.0.0.0:8080 {
  #   header_up X-Real-IP {remote_host}
  #}

}

www.{$DOMAIN} {
  redir {$DOMAIN}{uri}
}
